{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="aboutpage">
  <!-- About Us Section -->
    <section class="about-section">
        <h2>About BuzzedIn</h2><br>
        <p>BuzzedIn is a platform designed to connect students with job opportunities, internships, and co-op positions. Our mission is to simplify the job search process and help students find roles that align with their skills and career goals.</p>
        <p>Founded in 2025, BuzzedIn was created by a group of passionate developers and career advisors, BuzzedIn aims to bridge the gap between students and employers by providing a user-friendly interface and personalized job recommendations.</p>
        <p>We believe that every student deserves access to quality job opportunities, and we are committed to making the job search experience as seamless and efficient as possible.</p>
        <br>
        <p>Our team consists of experienced professionals who have worked in various industries and understand the challenges faced by students during their job searches. We bring together diverse perspectives and expertise to create innovative solutions for your career needs.</p>
        <p>At BuzzedIn, we prioritize transparency and trustworthiness. Your privacy and security are our top priorities, ensuring that you can rely on us for accurate information and reliable connections.</p>
        <p>We are constantly evolving to meet the changing demands of today's job market. Stay updated with the latest trends, industry insights, and exclusive resources through our blog section.</p>
        <p>Thank you for choosing BuzzedIn as your trusted partner in your career journey. We look forward to helping you achieve your professional goals!</p>
        <p class="link-to-site"><a href="https://kai228carlson.wixsite.com/pietruszkagroup2" target="_blank" class="link-btn">Visit our Team Site</a></p>
    </section>
</div>
{% endblock %}
