{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BuzzedIn{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">


</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="logo">
                    <a href="{% url 'home:index' %}">
                        <img src="{% static 'img/Buzz.png' %}" alt="BuzzedIn Logo" class="logo-icon">
                        <img src="{% static 'img/BuzzedIn.png' %}" alt="BuzzedIn" class="logo-text">
                    </a>
                </div>

                <ul class="nav-links">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home:index' %}">Home</a></li>
                        <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                        <li><a href="{% url 'accounts:connect' %}"
                                class="{% if request.resolver_match.view_name == 'accounts:connect' %}active{% endif %}">
                                Connect
                                </a></li>

                        {% if user|has_recruiterprofile %}
                            <a href="{% url 'candidates:search_candidates' %}">Find Candidates</a>
                            <li><a href="{% url 'jobs:my_jobs' %}">My Job Postings</a></li>
                        {% elif user|has_jobseekerprofile %}
                            <li><a href="{% url 'jobs:index' %}">Find Jobs</a></li>
                            <li><a href="{% url 'applications:view_applications' %}">My Applications</a></li>
                        {% endif %}

                        <li><a href="{% url 'accounts:logout' %}" class="btn btn-primary">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:signup_choice' %}">Create Profile</a></li>
                        <li><a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a></li>
                    {% endif %}

                </ul>


                <button class="mobile-menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>

    <main>
        <section class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
    </main>
</body>
</html>
